<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/layout/main.css" rel="stylesheet" />
    <link href="~/Content/layout/epaperless.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/layout/main.js"></script>

    <title>::TRI DAYA MITRA:</title>
   



</head>
<body class="sidebar-mini fixed sidebar-collapse">
    <div class="modalLoading"><!-- Place at bottom of page --></div>
    <div class="wrapper">
        <!-- Navbar-->
        <header class="main-header hidden-print">
            <a href="#" class="logo pull-left"><img class="img-thumbnail" style="height:40px; width:40px; " src="~/Content/images/tdmico.png">&nbsp; Tri Daya Mitra</a>
            @*<a class="logo" href="index.html">TDM</a>*@
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button--><a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>
                <!-- Navbar Right Menu-->
                <div class="navbar-custom-menu">
                    <ul class="top-nav">
                        <!--Notification Menu-->
                        @*<li class="dropdown notification-menu">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o fa-lg"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="not-head">You have 4 new notifications.</li>
                                    <li>
                                        <a class="media" href="javascript:;">
                                            <span class="media-left media-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                                            <div class="media-body"><span class="block">Lisa sent you a mail</span><span class="text-muted block">2min ago</span></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="media" href="javascript:;">
                                            <span class="media-left media-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                                            <div class="media-body"><span class="block">Server Not Working</span><span class="text-muted block">2min ago</span></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="media" href="javascript:;">
                                            <span class="media-left media-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                                            <div class="media-body"><span class="block">Transaction xyz complete</span><span class="text-muted block">2min ago</span></div>
                                        </a>
                                    </li>
                                    <li class="not-footer"><a href="#">See all notifications.</a></li>
                                </ul>
                            </li>*@
                        <!-- User Menu-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                            <ul class="dropdown-menu settings-menu">
                                <li><a href="/Account/ChangePassword"><i class="fa fa-user-md"></i> Change Password</a></li>
                                <li><a href="/Account/Logout"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Side-Nav-->
        <aside class="main-sidebar hidden-print">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img class="img-circle" src="/Content/images/user.png">
                    </div>
                    <div class="pull-left info">
                        @{
                            if (Session["UserLogOn"] != null && Session["UserProps"] != null)
                            {
                                var temp = Session["UserProps"];

                                string[] userProperties = temp.ToString().Split(';').ToArray();
                                <p>@userProperties[0].ToString()</p>
                                <p class="designation">@userProperties[1].ToString()</p>
                            }
                        }

                    </div>
                </div>
                <!-- Sidebar Menu-->
                <ul class="sidebar-menu">
                    <li class="active"><a href="/Home/Index"><i class="fa fa-home"></i><span>Home</span></a></li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-database"></i><span>Master Data</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="/Employee/Index"><i class="fa fa-circle-o"></i>Employee</a></li>
                            <li><a href="/FPP/ListOutstandingDocument"><i class="fa fa-circle-o"></i>Role</a></li>
                            <li><a href="/Account/Index"><i class="fa fa-circle-o"></i>User Apps</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-wrench"></i><span>Setting</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Create","NREA")"><i class="fa fa-circle-o"></i> Workflow Setting</a></li>
                        </ul>
                    </li>


                    <li class="treeview">
                        <a href="#"><i class="fa fa-file-archive-o"></i><span>SPK</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Create","NREA")"><i class="fa fa-circle-o"></i> Create SPK</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
        </aside>
        <div class="content-wrapper">

            @RenderBody()
            @RenderSection("scripts", required: false)

        </div>
    </div>
    <!-- Javascripts-->

    <script type="text/javascript">
        $(document).ready(function () {
            //$.backstretch("/images/1.jpg");

            if ($('body').hasClass('fixed') && $('body').hasClass('sidebar-mini') && $('body').hasClass('sidebar-collapse')) {
                $('.sidebar').css("overflow", "visible");
                $('.main-sidebar').find(".slimScrollDiv").css("overflow", "visible");
            }
        });

        function reposition() {
            var modal = $(this),
                dialog = modal.find('.modal-dialog');
            modal.css('display', 'block');

            // Dividing by two centers the modal exactly, but dividing by three
            // or four works better for larger screens.
            dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
        }
        // Reposition when a modal is shown
        $('.modal').on('show.bs.modal', reposition);
        // Reposition when the window is resized
        $(window).on('resize', function () {
            $('.modal:visible').each(reposition);
        });
    </script>
</body>
</html>